@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inheri t;
}

/*--------------------*/
body {
  font-family: Montserrat;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.header {
  -webkit-box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.12);
  height: 8vh;
  background-color: #affcef;
  font-size: 30px;
  padding: 0 20px;
}

.header__logo {
  line-height: 8vh;
  letter-spacing: 2.5px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  margin-left: 15px;
  line-height: 8vh;
}

.item__link {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 8px;
}

.item__link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg {
  padding: 2vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bg__text {
  text-align: center;
  font-size: 25px;
  border-radius: 25px;
  padding: 2vw 1.5vw;
  background-color: #000;
  color: #fff;
}

.bg__name {
  display: inline-block;
}

.bg__button {
  border: 1px solid #000;
  border-radius: 8px;
  margin-top: 30px;
  padding: 1.5vh 2vw;
  background-color: #affcef;
  font-size: 20px;
}

.bg__button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #000;
  color: #affcef;
}

.footer {
  -webkit-box-shadow: 0px -9px 8px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px -9px 8px 0px rgba(0, 0, 0, 0.12);
  height: 8vh;
  background-color: #affcef;
  font-size: 12px;
  line-height: 8vh;
  text-align: center;
}

@media (max-width: 600px) {
  .header {
    -webkit-box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.12);
    height: 8vh;
    background-color: #affcef;
    font-size: 15px;
    padding: 0 20px;
  }
  .header__logo {
    text-align: center;
    line-height: 8vh;
    letter-spacing: 2.5px;
  }
  .header__menu {
    width: 100vw;
    background-color: #affcef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 20px;
    position: absolute;
    top: 8vh;
    right: 0;
    padding: 0 20px;
    text-align: center;
    border-top: 1px solid #000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .item {
    font-size: 4vw;
    margin-left: 8px;
    line-height: 8vh;
  }
  .item__link {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 8px;
  }
  .item__link:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fff;
  }
}
